{% extends "base.html" %}
{% block main %}
 <section>
                <h2>The world of Jurassic Park</h2>

                <!-- iterate here ? -->
                {% for value in list_din %}        
                <a href="http://127.0.0.1:5000/dinosaur/{{ value['slug'] }}">
                    <figure>
                        <img src="{{ value['avatar'] }}" alt="" />
                        <figcaption>Discover the {{ value['name'] }}</figcaption>
                    </figure>
                </a>

                {% endfor %}
            </section>           
{% endblock %}