{% extends "base.html" %}
{% block main %}
 <!-- Héritage de template ? Block(s) ? -->
<div class="grid">
    <article>
        <h2>Discover the Brachiosaurus</h2>

        <div class="description">
            {{ dino_res.get("description") }}
        </div>

        <div class="card">
            <img src="{{ dino_res['avatar'] }}" alt="" />
            <dl>
                <dt>Name</dt>
                <dd>{{ dino_res['name'] }}</dd>
                <dt>Name meaning</dt>
                <dd>{{ dino_res['name_meaning'] }}</dd>
                <dt>Diet</dt>
                <dd>{{ dino_res['diet'] }}</dd>
                <dt>Height</dt>
                <dd>{{ dino_res['height'] }}</dd>
                <dt>Length</dt>
                <dd>{{ dino_res['length'] }}</dd>
                <dt>Weight</dt>
                <dd>{{ dino_res['weight'] }}</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        <!-- iterate here ? -->
        {% for value in dino_alea %}
                 
            <a href="http://127.0.0.1:5000/dinosaur/{{ value['slug'] }}">
                <figure>
                    <img src="{{ value['avatar'] }}" alt="" />
                    <figcaption>Discover the {{ value['name'] }}</figcaption>
                </figure>
            </a>
        {% endfor %}
    </aside>
</div>
{% endblock %}